* {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

#root {
  margin: 0;
  padding: 0;
}

#Header {
  background-color: rgb(26, 102, 96);
  width: 100vw;
  height: 5em;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

h1 {
  font-size: 3em;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(42, 126, 119);
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100vw;
}

.NavbarLink {
  font-size: 1.3em;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  border: solid 2px darkblue;
  color: darkblue;
  background-color: lightblue;
  text-decoration: none;
  font-weight: bold;
}
button {
  font-weight:bolder;
  font-size: 1em;
}

#submitButton {
  border-color: darkblue;
  color: darkblue;
  padding: 3px;
  background-color: lightblue;
}

input {
  background-color: aliceblue;
}
.loadingMessage {
  font-size: 2em;
  text-align: center;
}

#reviews {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#reviewsTitle {
  font-size: 2.2em;
}
.individualReviewTitle {
  font-size: 1.5em;
}

#reviewsList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}
.reviewsListItem {
  background-color: rgb(97, 97, 97);
  border: solid 5px rgb(42, 126, 119);
  border-radius: 5%;
  padding: 10px;
  list-style: none;
  width: 40%;
  margin-bottom: 20px;
}

.reviewLink {
  border: solid 2px;
  padding: 5px;
  background-color: lightblue;
}

#individualReview {
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#reviewInfo {
  text-transform: capitalize;
}
#reviewIMG {
  max-height: 500px;
}
#reviewBody {
  width: 60%;
}

#comments {
  margin-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}
#commentsTitle {
  padding-top: 10px;
  padding-bottom: 10px;
}
#commentsList {
  list-style: none;
}
#commentBody {
  width: 40%;
  height: 100px;
  margin-bottom: 5px;
}
.commentTitle{
  color: rgba(255, 255, 255, 0.87);
}
.commentText {
  max-width: 80%;
  margin-left: 10%;
  word-wrap: break-word;
  color: rgba(255, 255, 255, 0.87);
}
.feedback-1 {
  padding: 0;
  margin: 0;
}

.feedback0 {
  color: rgb(255, 255, 255);
  background-color: rgb(119, 0, 0);
  padding: 5px;
  border-radius: 0.5em;
  margin-bottom: 5px;
  margin-top: 5px;
}
.feedback1 {
  color: rgb(255, 255, 255);
  background-color: rgb(9, 179, 60);
  padding: 5px;
  border-radius: 0.5em;
  margin-bottom: 5px;
  margin-top: 5px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.commentsListItem {
  margin-bottom: 10px;
  border: solid 2px rgb(26, 102, 96);
  background-color: rgb(42, 126, 119);
  color: darkblue;
  padding-top: 5px;
  padding-bottom: 5px;
}

.upvoteButton-1 {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
  border: solid 2px darkblue;
  background-color: lightblue;
  color: darkblue;
  margin-right: 5px;
}
.upvoteButton0 {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
  border: solid 2px darkblue;
  background-color: lightblue;
  color: darkblue;
  margin-right: 5px;
}
.upvoteButton1 {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
  border: solid 2px green;
  background-color: palegreen;
  color: black;
  margin-right: 5px;
}

.downvoteButton-1 {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
  border: solid 2px darkred;
  background-color: rgb(255, 31, 76);
  color: black;
  margin-left: 5px;
}
.downvoteButton0 {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
  border: solid 2px darkblue;
  background-color: lightblue;
  color: darkblue;
  margin-left: 5px;
}
.downvoteButton1 {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
  order: solid 2px rgb(79, 58, 156);
  background-color: lightblue;
  color: darkblue;
  margin-left: 5px;
}
