* {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

#root {
  margin: 0;
  padding: 0;
}

#Header {
  background-color: rgb(26, 102, 96);
  width: 100vw;
  height: 5em;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}
h1 {
  font-size: 3em;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(42, 126, 119);
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100vw;
}

.NavbarLink {
  font-size: 1.3em;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  border: solid 2px;
  background-color: lightblue;
  text-decoration: none;
}

.loadingMessage{
  font-size:2em;
  text-align:center;
}

#reviews {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#reviewsTitle{
  font-size: 2.2em;
}
.individualReviewTitle{
  font-size: 1.5em;
}