* {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

#root {
  margin: 0;
  padding: 0;
}

#Header {
  background-color: rgb(26, 102, 96);
  width: 100vw;
  height: 5em;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}
h1 {
  font-size: 3em;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(42, 126, 119);
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100vw;
}

.NavbarLink {
  font-size: 1.3em;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  border: solid 2px;
  background-color: lightblue;
  text-decoration: none;
}

.loadingMessage {
  font-size: 2em;
  text-align: center;
}

#reviews {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#reviewsTitle {
  font-size: 2.2em;
  grid-area: reviewsTitle;
}

#categoryTitle {
  font-size: 2.2em;
  grid-area: categoryTitle;
}

.individualReviewTitle {
  font-size: 1.5em;
}

#reviewsList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}
.reviewsListItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(97, 97, 97);
  border: solid 5px rgb(42, 126, 119);
  border-radius: 5%;
  padding: 10px;
  list-style: none;
  width: 60%;
  margin-bottom: 20px;
}

.reviewLink {
  margin-top: 5px;
  border: solid 2px;
  padding: 5px;
  background-color: lightblue;
  width: 75%;
}

#individualReview {
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#reviewInfo {
  text-transform: capitalize;
}
#reviewIMG {
  max-height: 500px;
}
#reviewBody {
  width: 60%;
}

#comments {
  margin-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}
#commentsTitle {
  padding-top: 10px;
  padding-bottom: 10px;
}
#commentsList {
  list-style: none;
}
.commentsListItem {
  margin-bottom: 10px;
  border: solid 2px rgb(26, 102, 96);
  background-color: rgb(42, 126, 119);
  padding-top: 5px;
  padding-bottom: 5px;
}

.upvoteButton-1 {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
  border: solid 2px rgb(79, 58, 156);
  background-color: lightblue;
  margin-right: 5px;
}
.upvoteButton0 {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
  border: solid 2px rgb(79, 58, 156);
  background-color: lightblue;
  margin-right: 5px;
}
.upvoteButton1 {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
  border: solid 2px green;
  background-color: palegreen;
  margin-right: 5px;
}

.downvoteButton-1 {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
  border: solid 2px darkred;
  background-color: rgb(255, 31, 76);
  margin-left: 5px;
}
.downvoteButton0 {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
  border: solid 2px rgb(79, 58, 156);
  background-color: lightblue;
  margin-left: 5px;
}
.downvoteButton1 {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
  order: solid 2px rgb(79, 58, 156);
  background-color: lightblue;
  margin-left: 5px;
}

#reviewsContainer {
  display: grid;
  grid-template-areas: "categoryTitle reviewsTitle" "nav reviews";
  grid-template-columns: 25%75%;
}

#categoryNavbar {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  grid-area: nav;
  height: fit-content;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
}
.categoryLink {
  background-color: lightblue;
  color: darkblue;
  border: solid 3px darkblue;
  width: 80%;
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  text-transform: capitalize;
}
#reviewsList {
  grid-area: reviews;
}
